<form>
	<div class="form-group">
	    <label for="exampleInputEmail1">Title</label>
	    <input class="form-control" type="text">
	    <div class="custom-file">
			<input type="file" class="custom-file-input" id="customFile">
			<label class="custom-file-label" for="customFile">Choose image</label>
		</div>
	    <label for="exampleFormControlTextarea1">Description</label>
    	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  	</div>
  	<button type="submit" class="btn btn-primary">Submit</button>
</form>
